{% extends 'base.html' %}
{% block content %}
    <h1>Finch List</h1>
    {% for finch in finches %}
    <div class="card">
        <div class="card-content">
        <span class="card-title">
            {{ finch.name }}
            {% if finch.true_finch %}
                &check;
            {% endif %}
        </span>
        <p>Species: {{ finch.species }}</p>
        <p>Description: {{ finch.description | linebreaks }}</p>
        <p>Length: {{ finch.length }}</p>
        <p>Wingspan: {{ finch.wingspan }}</p>
    </div>
    {% endfor %}
{% endblock %}
